<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GuideView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1E4FD541D2BAA9F0061DD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E4FD6D1D2BAA9F0061DD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1E4FD781D2BAA9F0061DD2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
